.container{
    font-style:oblique;
}

.card-body1 {
    
  background-image: url(../imagenes/bg-pattern-quotation\ \(1\).svg);
    background-repeat: no-repeat;
    height: 90px;
    background-position-x: 90% ;
    background-position-y: 10% ;
  
    
}

.card-body{
    height: 75px;
}

.bg-warning{
    background-color: #733FC8!important;
}
.bg-danger{
    background-color: #49556B !important;
}
.bg-primary{
    background-color: #18202D !important;
}
.bg-success{
    background-color: rgb(255, 255, 255) !important;
}
.bg-info{
    background-color: rgb(255, 255, 255) !important;
}
